.autopilot {
  position: absolute;
  top: 10px;
  left: 10px;

  .algolia-places {
    width: 330px;

    &.hide {
      display: none;
    }
  }

  &-btn {
    float: left;
    margin-right: 10px;
  }

  &-modal {
    background-color: rgba(255, 255, 255, .95);
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .3);
    display: none;
    position: absolute;
    padding: 10px;
    top: calc(50vh - (420px / 2) - $navbar-height);
    left: calc(50vw - (600px / 2));
    width: 600px;
    z-index: 9999;

    &.open{
      display: block;
    }

    .travel-mode {
      cursor: pointer;

      &.selected {
        border: 1px solid #0275d8 !important;
      }

      .fa {
        font-size: 60px;
        margin-bottom: 10px;
      }
    }

    button {
      margin-top: 20px;
    }
  }

  .edit {
    margin-left: 10px;
  }
}

#myInput {
  /* background-image: url('/css/searchicon.png'); Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 6px 1em 6px 1em; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  /* margin-bottom: 12px; Add some space below the input */
}

#myInput:focus {
  outline: none;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}